<div data-plugin-style-id="kubernetes-plugin">
	<style>
        [data-plugin-style-id="kubernetes-plugin"] .less {
            width:    400px;
            height:   50px;
            overflow: hidden;
        }

        [data-plugin-style-id="kubernetes-plugin"] .more {
            width: 400px;
        }

		[data-plugin-style-id="kubernetes-plugin"] .row {
			width:  100%;
			margin: auto;
		}

		[data-plugin-style-id="kubernetes-plugin"] .no-padding {
			padding: 0 !important;
		}

		[data-plugin-style-id="kubernetes-plugin"] fieldset {
			border:           1px solid #ddd;
			padding:          20px;
			margin-bottom:    20px;
			border-radius:    3px;
			background-color: transparent;
		}

		[data-plugin-style-id="kubernetes-plugin"] fieldset legend {
			padding:          5px;
			font-size:        0.875rem;
			margin-bottom:    0px;
			background-color: #fff;
		}

		[data-plugin-style-id="kubernetes-plugin"] .form-help-content {
			color:         #666;
			clear:         both;
			font-size:     0.82rem;
			font-style:    italic;
			padding-left:  2px;
			margin-bottom: 10px;
		}

		[data-plugin-style-id="kubernetes-plugin"] .form-help-content code {
			border:           0px;
			padding:          2px 5px;
			border-radius:    3px;
			background-color: #eee;
		}

		[data-plugin-style-id="kubernetes-plugin"] .form-help-content .code {
			padding:          16px;
			overflow:         auto;
			font-size:        85%;
			line-height:      1.45;
			border-radius:    3px;
			background-color: #f6f8fa;
		}
	</style>

    <script>
      function toggleText(toggleElementId) {
        var elementLabel = toggleElementId.replace("container", "label");

        var elementToToggle = document.getElementById(elementLabel);
        var isCollapsed = elementToToggle.classList.contains('less');

        if (isCollapsed) {
          elementToToggle.classList.remove("less");
          elementToToggle.classList.add("more");
          document.getElementById(toggleElementId.replace("container", "toggle")).innerHTML = "See Less";
        } else {
          elementToToggle.classList.remove("more");
          elementToToggle.classList.add("less");
          document.getElementById(toggleElementId.replace("container", "toggle")).innerHTML = "See More";
        }
      }

      function foo(containerId, contents, minCharsToShow) {
        var labelToStoreDescription = document.createElement("Label");
        labelToStoreDescription.setAttribute("id", containerId.replace("container", "label"));
        labelToStoreDescription.setAttribute("class", "form-help-content less");
        labelToStoreDescription.innerHTML = contents;

        var moreLessBtn = document.createElement("a");
        moreLessBtn.setAttribute("id", containerId.replace("container", "toggle"));
        moreLessBtn.setAttribute("href", "javascript:void(0);");
        moreLessBtn.setAttribute("onclick", "toggleText('"+containerId+"');");
        moreLessBtn.innerHTML = "See More";

        document.getElementById(containerId).appendChild(labelToStoreDescription);
        document.getElementById(containerId).appendChild(moreLessBtn);
      }

      foo("go-server-url-description-container", "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.");

    </script>

    <div class="row">
		<label>Go Server URL</label>
        <div id="go-server-url-description-container"></div>

		<input type="text" ng-model="go_server_url" ng-required="false"/>
		<span class="form_error" ng-show="GOINPUTNAME[go_server_url].$error.server">{{GOINPUTNAME[go_server_url].$error.server}}</span>
		<label class="form-help-content">
			Server hostname must resolve in your container. Don't use <code>localhost</code> or <code>127.0.0.1</code>.
			Defaults to GoCD Secure site URL if not specified.
		</label>
	</div>

	<div class="row">
		<label>Agent auto-register timeout (in minutes)</label>
		<input type="text" ng-model="auto_register_timeout" ng-required="true"/>
		<span class="form_error" ng-show="GOINPUTNAME[auto_register_timeout].$error.server">{{GOINPUTNAME[auto_register_timeout].$error.server}}</span>
		<label class="form-help-content">Defaults to <code>10 minutes</code>.</label>
	</div>

	<div class="row">
		<label>Maximum pending pods</label>
		<input type="text" ng-model="pending_pods_count" ng-required="true"/>
		<span class="form_error" ng-show="GOINPUTNAME[pending_pods_count].$error.server">{{GOINPUTNAME[pending_pods_count].$error.server}}</span>
		<label class="form-help-content">Defaults to <code>10 pods</code>.</label>
	</div>

	<fieldset>
		<legend>Cluster Information</legend>
		<div class="row">
			<div class="columns large-5">
				<label>Cluster URL<span class='asterix'>*</span></label>
				<input type="text" ng-model="kubernetes_cluster_url" ng-required="true"/>
				<span class="form_error" ng-show="GOINPUTNAME[kubernetes_cluster_url].$error.server">{{GOINPUTNAME[kubernetes_cluster_url].$error.server}}</span>
				<label class="form-help-content">
					Kubernetes Cluster URL. Can be obtained by running <code>kubectl cluster-info</code>
				</label>
			</div>
			<div class="columns large-5 end">
				<label>Namespace</label>
				<input type="text" ng-model="namespace" ng-required="true"/>
				<span class="form_error" ng-show="GOINPUTNAME[namespace].$error.server">{{GOINPUTNAME[namespace].$error.server}}</span>
				<label class="form-help-content">
					Namespace in which plugin will create the agent pods. defaults to <code>default</code> namespace.
				</label>
			</div>
		</div>

		<div class="row">
			<label>Security token
				<span class='asterix'>*</span>
			</label>
			<textarea rows="5" ng-model="security_token"></textarea>
			<span class="form_error form-error" ng-show="GOINPUTNAME[security_token].$error.server">{{GOINPUTNAME[security_token].$error.server}}</span>
			<label class="form-help-content">
				Get the service account token by running following command <code>kubectl describe secret
				TOKEN_NAME</code> and copy the value of token here.
			</label>
		</div>

		<div class="row">
			<label>Cluster ca certificate data</label>
			<textarea ng-model="kubernetes_cluster_ca_cert" rows="7"></textarea>
			<span class="form_error" ng-show="GOINPUTNAME[kubernetes_cluster_ca_cert].$error.server">{{GOINPUTNAME[kubernetes_cluster_ca_cert].$error.server}}</span>
			<label class="form-help-content">
				Kubernetes cluster ca certificate data. Do not provide <code> -----BEGIN * </code> and <code> -----END
				* </code> in your certificate data.
			</label>
		</div>
	</fieldset>
</div>
